/* Add background colour to top nav bar */
.topnav {
    background-color: #1f271b;
    text-align: right;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0px;
}

/* Change links inside nav bar */
.topnav a {
    display: inline-block;
    color: #f3fcf0;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 21px;
    margin: 0px 10px;
}

/* Change colour of links when hovered upon */
.topnav a:hover {
    color: #b6c649;
}

/* Add colour to active link 
.topnav a.active {
    color: #ed4d6e;
}
*/
