/* Add background colour to top nav bar */
.topnav {
    background-color: antiquewhite;
    overflow: hidden;
}

/* Change links inside nav bar */
.topnav a {
    float: left; 
    color:olivedrab;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
}

/* Change colour of links when hovered upon */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add colour to active link */
.topnav a.active {
    background-color: tomato;
    color: white;
}
